<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
  <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full max-w-full flex-grow flex-1">
        <h6 class="uppercase text-blueGray-400 mb-1 text-xs font-semibold">
          Tipos de Pokemon
        </h6>
        <h2 class="text-blueGray-700 text-xl font-semibold">Total de tipos e defesas</h2>
        <p class="text-blueGray-200 text-sm font-semibold">Total de Pokemon com mais de um tipo {{ multiTypeCount }}</p>
      </div>
    </div>
  </div>

  <div class="p-4 flex-auto">
    <div class="relative" style="height: 350px">
      <div class="absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center">
        <app-spinner *ngIf="isLoading"></app-spinner>
      </div>
      <canvas id="bar-chart"></canvas>
    </div>
    <app-pagination-control [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" (pageChanged)="onChangePage($event)">
    </app-pagination-control>
  </div>
</div>
